@font-face {
    font-family: 'Alex Brush';
    url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');
}

.font-alex {
    font-family: "Alex Brush", cursive;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
