/*@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.font-parisienne {
    font-family: "Parisienne", cursive;
    font-weight: lighter;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

.font-playfair {
    font-family: "Playfair Display", serif;
    font-weight: normal;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    overflow-x: hidden;
    background: url(../assets/lightpaperfibers_@2X.png);
}

span {
    margin: 0;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: -10px;
}

.navigation {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.presentation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 1280px;
    padding: 10px;
    /*border: 1px solid black;*/
    margin: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    overflow: hidden;
    background: url(../assets/lightpaperfibers_@2X.png);
}

.swiper-button{
    color: black;
}

.date {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
}

.timer {
    font-size: 28px;
    display: flex;
}

h2 {
    font-family: "Parisienne", cursive;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 38px;
}

h3 {
    font-family: "Playfair Display", cursive;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 28px;
    width: 80vw;
    max-width: 1000px;
}

section {
    margin-bottom: 25px;
}

.separator {
    width: 90%;
    height: 1px;
    border: 1px solid black;
    opacity: 0.8;
    box-sizing: border-box;
}

.location {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-container {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.travel {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.dressCode {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.dressCode-text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    width: 90vw;
    max-width: 1000px;
}

.slide-img {
    max-width: 1280px;
    max-height: 600px;
}

.location-img {
    max-width: 490px;
    max-height: 450px;
    margin: 20px;
}

.travel-text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    width: 90vw;
    max-width: 1000px;
}

.iban {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
}

.travel-img {
    max-width: 1280px;
    max-height: 600px;
    background-size: cover;
    margin: 20px;
}

/*media queries */
@media (max-width: 1280px) {
    .slide-img {
        max-width: 90vw;
    }
}

@media (max-width: 650px) {
    iframe {
        width: 90vw;
    }

    .navigation{
        width: 90%;
    }

    .location-img {
        width: 90vw;
    }

    .maps {
        text-align: center;
    }

    .travel-img {
        width: 90vw;
        margin-bottom: 200px;
    }
}

@media (max-width: 450px) {
    .main-title {
        font-size: 40px;
        max-width: 350px;
    }

    .date {
        font-size: 28px;
    }

    .timer {
        font-size: 18px;
    }
}

